#
#NOTE!Don'taddfilesthataregeneratedinspecific
#subdirectorieshere.Addtheminthe".gitignore"file
#inthatsubdirectoryinstead.
#
#NOTE!Pleaseuse'gitls-files-i--exclude-standard'
#commandafterchangingthisfile,toseeifthereare
#anytrackedfileswhichgetignoredafterthechange.
#
#Normalrules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su

#
#Top-levelgenericfiles
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
#Debiandirectory(makedeb-pkg)
#
/debian/

#
#tardirectory(maketar*-pkg)
#
/tar-install/

#
#gitfilesthatwedon'twanttoignoreevenittheyaredot-files
#
!.gitignore
!.mailmap

#
#Generatedincludefiles
#
include/config
include/generated
arch/*/include/generated

#stgitgenerateddirs
patches-*

#quilt'sfiles
patches
series

#cscopefiles
cscope.*
ncscope.*

#gnuglobalfiles
GPATH
GRTAGS
GSYMS
GTAGS

#id-utilsfiles
ID

*.orig
*~
\#*#

#
#Leavingsfrommodulesigning
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

#Kconfigpresets
all.config

#Kdevelop4
*.kdev4

#fetchedAndroidconfigfragments
android/configs/android-*.cfg

#
#IgnoringAndroid.bplinkfile
#
Android.bp

#mine
Alyssa-WALT-wayne-Kernel-20210408-2008.zip
Alyssa-wayne-CAF-EM-20210403-2100.zip
Alyssa-wayne-Drac0-20210405-1616.zip
Alyssa-wayne-FedShat-20210404-1608.zip
Alyssa-wayne-Hype-20210405-1702.zip
Alyssa-wayne-Kdrag0n-20210403-2245.zip
Alyssa-wayne-Kernel-20210331-0212.zip
Alyssa-wayne-Kernel-20210331-1656.zip
Alyssa-wayne-Kernel-20210402-1318.zip
Alyssa-wayne-Kernel-20210402-1403.zip
Alyssa-wayne-Kernel-20210402-1515.zip
Alyssa-wayne-Kernel-20210402-1842.zip
Alyssa-wayne-Kernel-20210405-1736.zip
Alyssa-wayne-Kernel-20210405-1830.zip
Alyssa-wayne-Kernel-20210406-2143.zip
Alyssa-wayne-Kernel-20210407-2101.zip
Alyssa-wayne-Kernel-20210407-2211.zip
Alyssa-wayne-Kernel-20210409-1314.zip
Alyssa-wayne-Kernel-20210409-1353.zip
Alyssa-wayne-Kernel-20210411-2008.zip
Alyssa-wayne-Kernel-20210411-2135.zip
Alyssa-wayne-NOSTUNE-20210405-2200.zip
Alyssa-wayne_miui-Kernel-20210331-1458.zip
Anykerne-3/
anykernel/
clang/
defconfig
gcc32/
gcc64/
jasminewayne.zip
out/
Alyssa-wayne-Kernel-20210413-1557.zip
Alyssa-wayne-Kernel-20210415-2251.zip
Alyssa-wayne_miui-Kernel-20210415-2337.zip