#
#NOTE!Don'taddfilesthataregeneratedinspecific
#subdirectorieshere.Addtheminthe".gitignore"file
#inthatsubdirectoryinstead.
#
#NOTE!Pleaseuse'gitls-files-i--exclude-standard'
#commandafterchangingthisfile,toseeifthereare
#anytrackedfileswhichgetignoredafterthechange.
#
#Normalrules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su

#
#Top-levelgenericfiles
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
#Debiandirectory(makedeb-pkg)
#
/debian/

#
#tardirectory(maketar*-pkg)
#
/tar-install/

#
#gitfilesthatwedon'twanttoignoreevenittheyaredot-files
#
!.gitignore
!.mailmap

#
#Generatedincludefiles
#
include/config
include/generated
arch/*/include/generated

#stgitgenerateddirs
patches-*

#quilt'sfiles
patches
series

#cscopefiles
cscope.*
ncscope.*

#gnuglobalfiles
GPATH
GRTAGS
GSYMS
GTAGS

#id-utilsfiles
ID

*.orig
*~
\#*#

#
#Leavingsfrommodulesigning
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

#Kconfigpresets
all.config

#Kdevelop4
*.kdev4

#fetchedAndroidconfigfragments
android/configs/android-*.cfg

#
#IgnoringAndroid.bplinkfile
#
Android.bp
#mine
Anykerne-3/
Preserver-wayne-Kernel-20210420-1825.zip
anykernel/
clang/
defconfig
gcc32/
gcc64/
out/
Alyssa-wayne-Kernel-20210421-0331.zip
Preserver-wayne-Kernel-20210421-0520.zip
Preserver-wayne_miui-Kernel-20210421-1947.zip